body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen.active {
  display: flex;
}

.hero {
  width: 200px;
  margin-bottom: 20px;
}

button {
  font-size: 24px;
  padding: 20px 30px;
  border-radius: 16px;
  border: none;
  background: #ffcc00;
}

.levels button {
  margin: 10px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.option {
  background: white;
  border-radius: 20px;
  padding: 10px;
}

.option img {
  width: 100%;
}
