.option {
  display: inline-block;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}

.option img {
  width: 120px;
  height: 120px;
  border-radius: 16px;
}

.poke-name {
  font-size: 20px;
  margin-top: 4px;
  color: black;
  font-weight: bold;
}
